h1 {
    font-size: 12pt;
    margin: 1em 0 .5em 0;
}

textarea,input {
    border: 1px solid black;
    width: 99%;
}

.panel {
    margin-left: 6px;
    margin-top: 9px;
}

.rightPanel {
    margin-right: 6px;
}

.top0 {
    margin-top: 0;
}